<form>
	<table>
		<thead>
			<th>{{localize "GODICE_ROLLS.Prompt.Header_RollTerm"}}<a class="button" title="{{localize "GODICE_ROLLS.Tooltip.RollTerm"}}">
					<i class="fas fa-question-circle"></i></a></th>
			<th>{{localize "GODICE_ROLLS.Prompt.Header_Rolls"}}<a class="button" title="{{localize "GODICE_ROLLS.Tooltip.Rolls"}}">
					<i class="fas fa-question-circle"></i></a></th>
			<th>&nbsp;&nbsp;&nbsp;{{localize "GODICE_ROLLS.Prompt.Header_Total"}}
				<a class="button" title="{{localize "GODICE_ROLLS.Tooltip.Total"}}">
					<i class="fas fa-question-circle"></i>
				</a>&nbsp;&nbsp;&nbsp;
			</th>
		</thead>
		<tbody>
			{{#each terms}}
			<tr>
				<td>{{faces}}</td>
				<td><input name="{{id}}-{{idx}}" type="number" min="1" max="{{term.faces}}" tabindex="1{{id}}{{idx}}" step="1"></input></td>
				<script>
					input = document.getElementByName("{{id}}-{{idx}}");
					input.value = {{term.faces}};
				</script>
			</tr>
			{{/each}}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3" style="padding:0">
					<button type="submit" style="width:100%" name="submit" tabindex="300">
						<i class="fas fa-dice-d20"></i>{{localize "GODICE_ROLLS.Submit"}}</button>
				</td>
			</tr>
		</tfoot>
	</table>
</form>